body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Inria Sans", sans-serif;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  width: 90%;
  text-align: start;
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 90%;
  background-color: #f6fdfc;
  border-radius: 30px;
}
.form-cad {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  gap: 0.7rem;
}

.have-account {
  width: 100%;
  height: 4rem;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
}

.create-account-button:hover {

    background-color: rgb(2, 2, 155);
}


.input {
  border: none;
  border-bottom: 1px solid #000000; /* Cor e estilo da borda inferior */
  padding: 5px; /* Espaçamento interno opcional */
  background-color: transparent;
}
.have-account {
  width: 90%;
  margin-top: 1rem;

  display: flex;
  align-items: flex-start;
}

.have-account a {
  color: #000000;
}

.forgot-password {
  width: 150%
  display: flex;
  gap: 1rem;
  
}